body {
    background-image: url(https://i.postimg.cc/yxG42nrR/396927fd8512436d92cff9826b90bead.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}